<config>
    <application title="Equipements sportifs des lycées rennais" logo="" help="" showhelp="" style="css/themes/nephritis.css" exportpng="false" measuretools="false" />
    <mapoptions maxzoom="20" projection="EPSG:3857" center="-185344,6126292" zoom="13" />
    <searchparameters localities="false" features="true" bbox="false"/>
    <elasticsearch url="https://ows.region-bretagne.fr/kartenn/_search" geometryfield="geometry" querymode="match" linkid="search_id" version="1.4"/>
    <baselayers style="default">
        <baselayer  type="OSM" id="positron" label="Positron" title="CartoDb" thumbgallery="img/basemap/positron.png"
			url="https://cartodb-basemaps-{a-c}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png" maxzoom="20" 
			visible="true" attribution=" &lt;a href='https://www.openstreetmap.org/copyright'>OpenStreetMap&lt;/a>  &lt;a href='https://cartodb.com/attributions'>CartoDB &lt;/a>" />	
    </baselayers>
    <themes>
        <theme id="theme-20171106150925" name="Equipements sportifs" collapsed="false" icon="fas fa-book">
            <layer id="lycee_eqpts"
                name="lycées"
                type="customlayer"
                vectorlegend="true"
                url="https://kartenn.region-bretagne.fr/kartoviz/apps/region/equipements/addons/lycee/layer/lycee_eqpts.js"
                metadata="https://geobretagne.fr/geonetwork/apps/georchestra/?uuid=99e78163-ce9a-4eee-9ea0-36afc2a53d25"
                metadata-csw="https://geobretagne.fr/geonetwork/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID&amp;ID=99e78163-ce9a-4eee-9ea0-36afc2a53d25"
                queryable="true"
                fields="nom,adresse,photo,lien_fiche,basket_ext"
                aliases="Nom,Adresse,Photo,lien,Terrain de Basket"
                visible="true"
                searchable="true"
                searchengine="fuse"
                fusesearchkeys="nom,adresse"
                fusesearchresult="{{nom}}"
                attribution="Région Bretagne">
                <template url="https://kartenn.region-bretagne.fr/kartoviz/apps/region/equipements/templates/lycee.mst" />
            </layer>
            <layer id="eqpts"
                name="Autres sites"
                type="customlayer"
                vectorlegend="true"
                opacity="0.4"
                url="https://kartenn.region-bretagne.fr/kartoviz/apps/region/equipements/addons/equipement/layer/eqpts.js"
                metadata="https://geobretagne.fr/geonetwork/apps/georchestra/?uuid=99e78163-ce9a-4eee-9ea0-36afc2a53d25"
                metadata-csw="https://geobretagne.fr/geonetwork/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID&amp;ID=99e78163-ce9a-4eee-9ea0-36afc2a53d25"
                queryable="true"
                visible="true"
                attribution="Région Bretagne" >
                <template url="https://kartenn.region-bretagne.fr/kartoviz/apps/region/equipements/templates/equipement.mst" />
            </layer>
        </theme>
    </themes>
</config>