<config>
    <application title="Equipements sportifs des lycées rennais" logo="" help="" showhelp="" style="css/themes/nephritis.css" exportpng="false" measuretools="false" />
    <mapoptions maxzoom="20" projection="EPSG:3857" center="-185344,6126292" zoom="13" />
    <searchparameters localities="false" features="true" bbox="false"/>
    <baselayers style="default">
        <baselayer  type="OSM" id="positron" label="Positron" title="CartoDb" thumbgallery="img/basemap/positron.png"
			url="https://cartodb-basemaps-{a-c}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png" maxzoom="20" 
			visible="true" attribution=" &lt;a href='https://www.openstreetmap.org/copyright'>OpenStreetMap&lt;/a>  &lt;a href='https://cartodb.com/attributions'>CartoDB &lt;/a>" />	
    </baselayers>
    <themes>
        <theme id="theme-20171106150925" name="Equipements sportifs" collapsed="false" icon="fas fa-book">
            <layer id="lycee_eqpts"
                name="Lycées"
                type="customlayer"
                vectorlegend="true"
                url="apps/region/equipements/addons/lycee/layer/lycee_eqpts.js"
                metadata="https://geobretagne.fr/geonetwork/apps/georchestra/?uuid=99e78163-ce9a-4eee-9ea0-36afc2a53d25"
                metadata-csw="https://geobretagne.fr/geonetwork/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID&amp;ID=99e78163-ce9a-4eee-9ea0-36afc2a53d25"
                queryable="true"
                fields="nom,adresse,photo,lien_fiche,basket_ext"
                aliases="Nom,Adresse,Photo,lien,Terrain de Basket"
                visible="true"
                searchable="true"
                searchengine="fuse"
                fusesearchkeys="nom,adresse"
                fusesearchresult="{{nom}}"
                featurecount="1"
                attribution="Région Bretagne">
                <template url="apps/region/equipements/templates/lycee.mst"/>
            </layer>
            <layer id="eqpts"
                name="Autres sites"
                type="customlayer"
                vectorlegend="false"
                legendurl="apps/region/equipements/img/equipement/legend.png"
                firstHandle="true"
                opacity="0.8"
                url="apps/region/equipements/addons/equipement/layer/eqpts.js"
                metadata="https://geobretagne.fr/geonetwork/apps/georchestra/?uuid=99e78163-ce9a-4eee-9ea0-36afc2a53d25"
                metadata-csw="https://geobretagne.fr/geonetwork/srv/fre/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID&amp;ID=99e78163-ce9a-4eee-9ea0-36afc2a53d25"
                queryable="true"
                visible="true"
                attribution="Région Bretagne">
                <template url="apps/region/equipements/templates/equipement.mst" />
            </layer>
            <layer id="bretagne_5" name="Bretagne à 5" visible="true" tiled="false" namespace="rb"
					queryable="false" infoformat="application/vnd.ogc.gml"
                    featurecount="20"
					url="https://ows.region-bretagne.fr/geoserver/rb/wms" 
					attribution="OSM" 
					metadata-csw="https://kartenn.region-bretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=ebb4b0ff-0eb2-429e-a606-fb8ad7c11a72"
					metadata="https://kartenn.region-bretagne.fr/geonetwork/srv/fre/catalog.search#/metadata/ebb4b0ff-0eb2-429e-a606-fb8ad7c11a72" >  
            </layer>
            <layer id="departement_osm" name="Département" visible="true" tiled="false" namespace="rb"
					queryable="false" infoformat="application/vnd.ogc.gml"
                    featurecount="20"
					url="https://ows.region-bretagne.fr/geoserver/rb/wms" 
					style="bretagne_5_style" 
					attribution="OSM" 
					metadata-csw="https://kartenn.region-bretagne.fr/geonetwork/srv/eng/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;elementSetName=full&amp;ID=6583d262-ebc4-4e51-a1fd-ee493c2b355d"
					metadata="https://kartenn.region-bretagne.fr/geonetwork/srv/fre/catalog.search#/metadata/6583d262-ebc4-4e51-a1fd-ee493c2b355d" >  
            </layer>
        </theme>
    </themes>
</config>
