@charset "UTF-8";
/******************************************************************************
------------------------ CSS THEME MVIEWER BRETAGNE BZH ULTRA -----------------
******************************************************************************/
@import url("../../crbicon/crbicon.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*******************************
------------- FONTS -----------
********************************/
@font-face {
  font-family: 'roboto_bold';
  src: url("../../global/font/Roboto/Roboto-Bold.ttf"); }

@font-face {
  font-family: 'roboto_regular';
  src: url("../../global/font/Roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'region_bold';
  src: url("../../global/font/RB/RegionBretagneNew-Bold.ttf"); }

@font-face {
  font-family: 'region_regular';
  src: url("../../global/font/RB/RegionBretagneNew-Regular.ttf"); }

/*******************************
------------- GENERAL -----------
********************************/
.mv-theme {
  background-color: #4C74B5;
  color: white; }

/*******************************
------------- NAVBAR -----------
********************************/
#mv-navbar {
  border-color: #4C74B5;
  background-color: #4C74B5;
  /* Help button */ }
  #mv-navbar .navbar-brand {
    color: white;
    font-size: 20px; }
  #mv-navbar .mv-title {
    color: white;
    font-size: 18px;
    font-family: "roboto_bold", Arial, Sans-serif;
    letter-spacing: 0.5px; }
  #mv-navbar .navbar-toggle {
    border-color: #4C74B5;
    color: white; }
  #mv-navbar .mv-navbar-btn {
    color: #4C74B5; }

/*******************************
------------- MAP CONTROLS -----
********************************/
#map .ol-control button {
  color: white;
  background-color: #4C74B5; }
#map .ol-control button:focus, #map #map .ol-control button:hover {
  background-color: #4C74B5; }
#map .ol-scale-line-inner {
  font-family: "roboto_regular", Arial, Sans-serif; }

/*******************************
------------- LEFT PANEL -------
********************************/
/* thematic title */
#menu > li > a {
  font-family: "roboto_bold", Arial, Sans-serif; }

/* group & layer title */
#sidebar-wrapper a {
  font-family: "roboto_regular", Arial, Sans-serif; }

/* all titles hover */
#menu li a:hover {
  border-left: black 0px solid;
  background: #4C74B5;
  color: #f8f8f8; }

/*******************************
------------- RIGHT PANEL ------
********************************/
/* Titre de la couche interrogée active */
#right-panel .mv-header {
  background-color: #4C74B5; }
  #right-panel .mv-header h5 {
    color: white;
    font-family: "roboto_bold", Arial, Sans-serif;
    font-size: 13px;
    background-color: #4C74B5; }

/*******************************
------------- BOTTOM PANEL
********************************/
/* Titre de la couche interrogée active */
#bottom-panel .mv-header h5 {
  font-family: "roboto_bold", Arial, Sans-serif;
  color: #4C74B5;
  font-size: 13px; }

/* Boutton de fermeture */
#bottom-panel-btn .fa-chevron-down {
  background: #4C74B5;
  color: white; }

/*******************************
------------- INFO FEATURE------
********************************/
.popup-content {
  font-family: "roboto_regular", Arial, Sans-serif; }

.popup-content .nav-tabs > li.active > a,
.popup-content .nav-tabs > li.active > a:hover,
.popup-content .nav-tabs > li.active > a:focus {
  border: 0;
  border-left: thick solid #4C74B5; }

.popup-content .nav-tabs .active .glyphicon,
.popup-content .nav-tabs .active .fa {
  color: #4C74B5; }

/*******************************
-------------CSS Fiche info GML
********************************/
.gml-item-field-name {
  font-family: "roboto_regular", Arial, Sans-serif; }

.gml-item-field-value {
  font-family: "roboto_regular", Arial, Sans-serif; }

.gml-item-title {
  font-family: "roboto_regular", Arial, Sans-serif;
  color: #4C74B5;
  font-size: 24px; }

/*******************************
-------------LAYERS PANEL ------
********************************/
#layers-container-box-header {
  background-color: #4C74B5; }

#layers-container {
  /* Opacité */
  /* Temporalité */ }
  #layers-container a {
    color: #4C74B5;
    font-family: "roboto_bold", Arial, Sans-serif; }
  #layers-container .mv-layer-options {
    color: #555555; }
  #layers-container .mv-layer-options p {
    font-family: "roboto_regular", Arial, Sans-serif; }
  #layers-container .form-group label {
    font-family: "roboto_bold", Arial, Sans-serif; }
  #layers-container .form-control {
    font-family: "roboto_regular", Arial, Sans-serif;
    color: #555555; }
  #layers-container .datepicker .active {
    background-color: #4C74B5; }
  #layers-container .mv-layer-options .slider-selection {
    background: #4C74B5; }
  #layers-container .mv-layer-options .slider-handle {
    background: #4C74B5; }
  #layers-container .mv-layer-options .tooltip-inner {
    background-color: #4C74B5;
    border-radius: 4px;
    font-family: "roboto_regular", Arial, Sans-serif; }
  #layers-container .mv-layer-options .tooltip.top .tooltip-arrow {
    border-top-color: #4C74B5; }
  #layers-container .mv-layer-options .form-group-timer .slider-selection {
    background: #4C74B5;
    -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0); }
  #layers-container .slider.slider-horizontal .slider-tick-label-container {
    font-family: "roboto_regular", Arial, Sans-serif; }
  #layers-container .slider-tick.round.in-selection {
    background: #4C74B5;
    background-image: none;
    -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0); }
  #layers-container .form-group-timer .slider-tick.round {
    background: #4C74B5;
    background-image: none;
    -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0);
    opacity: 1; }
  #layers-container .form-group-timer .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #4C74B5; }
  #layers-container .mv-layer-options .form-group-timer .slider-track-high {
    background: #4C74B5; }
  #layers-container span.mv-time-player-selection {
    color: white;
    font-size: 13px;
    background-color: #4C74B5; }

/*******************************
------------- POPOVER
********************************/
body .popover-content {
  font-family: "roboto_regular", Arial, Sans-serif; }

body .popover-title {
  font-family: "roboto_bold", Arial, Sans-serif; }

/*******************************
---------- BASEMAP CONTROL -----
********************************/
#basemapslist li.active {
  box-shadow: 0px 0px 2px 2px black, 0px 0px 3px 3px rgba(200, 200, 200, 0.5); }

/*******************************
--------- BUTTONS RIGHT TOOLBAR
********************************/
#toolstoolbar .btn-default.enabled {
  background-color: #4C74B5;
  border-color: #4C74B5; }

#drawtoolsoptions .btn-default.active,
#drawtoolsoptions .btn-default:active,
#drawtoolsoptions .btn-default:focus,
#drawtoolsoptions .btn-default.focus {
  background-color: #4C74B5;
  border-color: #4C74B5; }

/*******************************
------------- ALERTS --------
********************************/
#alerts-zone .alert.alert-info {
  background-color: #4C74B5;
  color: white; }

#alerts-zone .close {
  color: white;
  text-shadow: 0 1px 0 #000; }

/*******************************
------------- TOOLTIPS --------
********************************/
.tooltip2 {
  background: #4C74B5;
  font-family: "roboto_regular", Arial, Sans-serif; }

.tooltip-measure-static {
  background-color: #4C74B5;
  font-family: "roboto_regular", Arial, Sans-serif; }

.tooltip-measure:before,
.tooltip-measure-static:before {
  border-top: 6px solid #4C74B5; }

.tooltip-measure-static:before {
  border-top-color: #4C74B5; }

/* Custom-tooltip-infopanel */
.mv-tooltip.tooltip-inner {
  background-color: #4C74B5;
  padding: 8px 8px 8px;
  color: white;
  font-family: "roboto_regular", Arial, Sans-serif;
  font-size: 11px;
  letter-spacing: 1; }

.tooltip.right .mv-tooltip.tooltip-arrow {
  border-right-color: #4C74B5; }

.tooltip.top .mv-tooltip.tooltip-arrow {
  border-top-color: #4C74B5; }

.tooltip.left .mv-tooltip.tooltip-arrow {
  border-left-color: #4C74B5; }

/*******************************
------------- SEARCH TOOLBAR
********************************/
#searchtool .btn-default {
  color: #4C74B5; }

#parameterspanel {
  font-family: "roboto_regular", Arial, Sans-serif; }
  #parameterspanel .modal-header {
    color: #555555;
    font-size: 13px; }

/* Search results */
#searchresults {
  font-family: "roboto_regular", Arial, Sans-serif;
  color: #555555; }
  #searchresults a.list-group-item.disabled {
    font-family: "roboto_bold", Arial, Sans-serif; }
  #searchresults a:hover {
    font-family: "roboto_bold", Arial, Sans-serif;
    color: #4C74B5; }

.searchresults-title {
  background-color: #4C74B5;
  border-color: #4C74B5;
  color: white;
  font-family: "roboto_bold", Arial, Sans-serif; }

.searchresults-title .close,
.searchresults-title .close:hover,
.searchresults-title .close:focus,
.searchresults-title .close:active,
.searchresults-title .close:visited {
  color: white; }

/* Partager la carte*/
#sharepanel {
  font-family: "roboto_regular", Arial, Sans-serif; }

/*******************************
------------- HELP PANEL -----
********************************/
#help .nav-tabs {
  border-bottom: 2px solid #4C74B5; }
#help .nav-tabs > li > a {
  border-radius: 0px 0px 0 0px;
  color: #555555; }
#help .nav-tabs > li.active > a {
  background-color: #4C74B5;
  border-color: #4C74B5;
  color: white; }
#help .nav-tabs > li.active > a:hover {
  color: #555555; }
#help .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #4C74B5;
  color: #4C74B5; }
#help .modal-title {
  font-size: 25px;
  font-family: "roboto_bold", Arial, Sans-serif;
  color: #4C74B5; }
#help .tab-pane h4 {
  font-family: "roboto_bold", Arial, Sans-serif;
  color: #4C74B5;
  font-size: 22px;
  margin-top: 20px; }
#help .tab-pane h5 {
  font-family: "roboto_bold", Arial, Sans-serif;
  color: #4C74B5;
  font-size: 16px;
  margin-bottom: 2px; }
#help .tab-pane h6 {
  font-family: "roboto_bold", Arial, Sans-serif;
  color: #4C74B5;
  font-size: 14px;
  margin-bottom: 2px; }
#help .tab-pane p {
  color: #555555;
  font-size: 13px;
  text-align: justify; }
#help .tab-pane .visuel_tx {
  color: #555555;
  font-size: 13px; }
#help .tab-pane .visuel {
  text-align: center; }

/*******************************
-------------LOADER INDICATOR
********************************/
.mv-layer-indicator .loader {
  border-top: 1.1em solid rgba(3, 46, 70, 0.2);
  border-right: 1.1em solid rgba(3, 46, 70, 0.2);
  border-bottom: 1.1em solid rgba(3, 46, 70, 0.2);
  border-left: 1.1em solid #4C74B5; }

.mv-iframe-indicator .loader {
  border-top: 1.1em solid rgba(3, 46, 70, 0.2);
  border-right: 1.1em solid rgba(3, 46, 70, 0.2);
  border-bottom: 1.1em solid rgba(3, 46, 70, 0.2);
  border-left: 1.1em solid #4C74B5; }

#mv-navbar {
  font-family: "roboto_bold", Arial, Sans-serif; }

#mv-navbar.navbar-default .navbar-nav > li > a {
  color: white; }

@media (max-width: 991px) {
  #legend-modal .modal-header,
  #modal-panel .modal-header,
  #sharepanel .modal-header,
  #thematic-modal .modal-header {
    /*background: #4C74B5;*/
    color: white;
    /*padding: 12px 15px;*/
    font-family: "roboto_regular", Arial, Sans-serif; }

  #legend-modal .modal-header .close,
  #sharepanel .modal-header .close,
  #modal-panel .modal-header .close,
  #thematic-modal .modal-header .close {
    /*color: white;
    opacity: .9;*/ } }
	
/*******************************
------------- SPECIFIC BRETAGNE BZH ------
********************************/

.popup-content h3{
	margin-top:4%;
}

.popup-content .panel-heading.mv-theme{
	display:none;
}
.modal-title{
	display:none;
}

#modal-panel .modal-body{
	padding-top:0px;	
}

#accordion .panel-body{
	border:none;
	padding-top:0px;	
}

#accordion .buton.close{
	padding:0px;
	padding-top:15px;
	padding-right:15px;
}

/*Changer couleur icone*/
#els_marker path {
    fill: #4C74B5!important;
}


/*Mise en forme des MST*/
#rb-puces li {
	list-style: none;
	color: #555;
}
#rb-puces li:before{
	content:"· ";
	font-size:50px;
	vertical-align:middle;
	line-height:20px;
	color: #4C74B5;
}
.rb-title-feature {
	color: #4C74B5;
	font-family:"region_bold";
	font-size:25px;
	text-align:center;
	margin-bottom:3%;
	line-height:1;
}
.rb-subtitle-feature {
	color: #4C74B5;
	font-family:"region_bold";
	font-size:18px;
	margin-top:2%;
	line-height:1;
}
.rb-text-feature{
	font-family:"Open Sans";
	color:#555;
	font-size:15px;
	margin-top:2%;
	margin-bottom:2%;
}
.rb-description-feature{
	font-family:"Open Sans";
	color:#555;
	font-size:13px;
	margin-top:2%;
	margin-bottom:2%;
}
.rb-but-list{
	margin-top:4%;
}
.rb-but-link, .rb-but-link:focus, .rb-but-link:hover{
	display:inline-block;
	padding:0.5em 1em;
	margin:0 0.3em 0.3em 0;
	border-radius:0.3em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'OpenSans-Bold',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	background-color:#4C74B5;
	text-align:center;
	transition: all 0.2s;
}
.rb-but-link:hover{
	background-color:#49828D;
}	
/*Paramètre pour éviter le phénomène de double ascenseur en mode ultra */
#accordion .panel-collapse.collapse.in{
  max-height:2000px!important;
}

/*Enleve le trait gris en bas popup*/
.panel {
-webkit-box-shadow: none !important;
box-shadow: none !important;
}