/******************************************************************************
--------------------------- CSS KARTENN VN  -----------------
********************************************************************************/
@import url("../../crbicon/crbicon.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Import des fonts*/
@font-face {
  font-family: 'roboto_bold';
  src: url("../../global/font/Roboto/Roboto-Bold.ttf"); }

@font-face {
  font-family: 'roboto_regular';
  src: url("../../global/font/Roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'region_bold';
  src: url("../../global/font/RB/RegionBretagneNew-Bold.ttf"); }

@font-face {
  font-family: 'region_regular';
  src: url("../../global/font/RB/RegionBretagneNew-Regular.ttf"); }

/*******************************
------------- NAVBAR
********************************/
.navbar-default{
	border-color:#2f476c;
}

#mv-navbar{
	border-color:#2f476c;
	background-color: #2f476c;
}

.navbar-header.fixed-brand{
	background-color: #2f476c;
}

#mv-navbar a.navbar-brand, .mv-title{
	color:#ffffff!important;
	font-size: 20px;
}

p.navbar-text.mv-title{
	font-size: 18px;
	font-family: 'spotkabold', Arial, Sans-serif;
	letter-spacing: 0.5px;
}

.navbar-default .navbar-toggle{
	border-color: #ffffff;
}

.glyphicon-th-large:before{
	color:#ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color:#2f476c;
}

.ol-control button {
  color: #fff!important;
  background-color: #2f476c!important;
}

.ol-control button:focus, .ol-control button:hover {
  background-color: #2f476c;
}

.gml-item-title {
    font-family: 'roboto_regular', Arial, Sans-serif;
	color:#2f476c;
    font-size: 24px;
}

.popup-content .nav-tabs > li.active > a, .popup-content .nav-tabs > li.active > a:hover, .popup-content .nav-tabs > li.active > a:focus {
  border-left: thick solid #2f476c!important;
}

#right-panel .mv-header {
  background-color: #2f476c;
  color: #fff;
}

#right-panel .mv-header h5{
  font-family: 'roboto_bold', sans-serif;
  font-size: 13px;
}

/*******************************
------------- MENU
********************************/

#sidebar-wrapper a{
	font-family:'roboto_regular', Arial, Sans-serif;
}

#menu>li>a{
	font-family:'roboto_bold', Arial, Sans-serif;
}

#menu li a:hover{
	border-left:#2f476c 0px solid;
	background:#2f476c;
	color: #f8f8f8;
}

/*******************************
------------- BOTTOM PANEL
********************************/
#bottom-panel .mv-header h5{
	font-family:'roboto_bold', Arial, Sans-serif;
	color: #2f476c;
	font-size:13px;
}

.fa-chevron-down{
	color:#fff;
}
#bottom-panel-btn .fa-chevron-down {
    background: #2f476c;
}

/*******************************
-------------LEGEND LAYER
********************************/

#layers-container a {
	color: #2f476c;
	font-family: 'roboto_bold', Arial, Sans-serif;
}

.form-group label {
	font-family: 'roboto_bold', Arial, Sans-serif;
}

#layers-container .mv-layer-options p {
	font-family: 'roboto_regular', Arial, Sans-serif;
}

.form-control{
	font-family: 'roboto_regular', Arial, Sans-serif;
	color:#555!important;
}

.mv-layer-options{
	color:#555!important;
}

/* Sub-title layers */
.selected-sld.fa span{
  font-style: italic;
  font-family: 'roboto_regular', Arial, Sans-serif;
}

/*Filtres*/
.selected-attribute.fa span{
  font-style: italic;
  font-family: 'roboto_regular', Arial, Sans-serif;
}

/* Opacité */
.mv-layer-options  .slider-selection{
	background:#2f476c;
}

.mv-layer-options .slider-handle {
    background: #2f476c;
}

.mv-layer-options .tooltip-inner{
	background-color:#2f476c;
	border-radius: 4px;
	font-family: 'roboto_regular', Arial, Sans-serif;
}

.mv-layer-options .tooltip.top .tooltip-arrow{
	border-top-color:#2f476c;
}

/* Temporalité */

.mv-layer-options  .form-group-timer .slider-selection{
	background:#2f476c;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
}

.slider.slider-horizontal .slider-tick-label-container{
	font-family:'roboto_regular', Arial, Sans-serif;
}

.slider-tick.round.in-selection{
	background: #2f476c;
	background-image: none;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
}

.form-group-timer .slider-tick.round{
	background:#2f476c;
	background-image:none;
	-webkit-box-shadow:inset 0 0px 0 rgba(0,0,0,0);
	opacity: 1;
}

.form-group-timer .tooltip.bottom .tooltip-arrow{
	border-bottom-color:#2f476c;
}

.mv-layer-options  .form-group-timer .slider-track-high{
	background:#2f476c;
}

#layers-container-box-header {
  background-color: #2f476c;
}

span.mv-time-player-selection {
    color: #fff;
    font-size: 13px;
    background-color: #2f476c;
}

/*******************************
------------- BASEMAP
********************************/

ul#basemapslist p {
	font-family: 'roboto_regular', Arial, Sans-serif;
}

ul#basemapslist  li.active{
    border:2px #2f476c outset;
}

.ol-scale-line-inner{
    font-family: 'roboto_regular', Arial, Sans-serif;
}

/*******************************
------------- RIGHT PANEL
********************************/

h3.title{
	font-family: 'roboto_regular', Arial, Sans-serif;
	font-size: 24px;
	color:#2f476c;
	}

h4.title{
    font-family: 'roboto_regular', Arial, Sans-serif;
    font-size: 16px;
    color:#2f476c;
}

.mv-theme.panel-heading{
	background-color: #2f476c;
}

h4.panel-title{
    font-family: 'roboto_regular', Arial, Sans-serif;
    font-size: 16px;
}


.info{
	font-family:'roboto_regular', Arial, Sans-serif;
	}

/*******************************
------------- POPOVER
********************************/
.popover-content{
	font-family: 'roboto_regular', sans-serif!important;
}

.popover-title{
	font-family: 'roboto_bold', sans-serif!important;
}

/*******************************
------------- POPUP
********************************/
.popup-content {
    font-family: 'roboto_regular', Arial, Sans-serif;
}


/*******************************
------------- BUTTON RIGHT TOOLBAR
********************************/
#toolstoolbar.btn-warning{
	background-color: #2f476c;
	border-color: #2f476c;
}

#toolstoolbar.btn-warning:hover{
	background-color: #2f476c;
	border-color: #2f476c;
}

#alerts-zone .alert.alert-info {
  background-color: #2f476c;
  color: #fff;
}

#alerts-zone .close {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.datepicker .active {
    background-color: #2f476c!important;
}

.leftpanel-btn:hover {
   color: #2f476c;
}

/* Buttons tools*/
#drawtoolsoptions .btn-default.active, #drawtoolsoptions .btn-default:active, #drawtoolsoptions .btn-default.focus, #drawtoolsoptions .btn-default:focus {
	background-color:#2f476c;
	border-color:#2f476c;
}

/* Tooltip measure */

.tooltip2 {
  background: #2f476c;
  font-family: 'roboto_regular', Arial, Sans-serif;
}

.tooltip-measure-static {
  background-color: #2f476c;
  font-family: 'roboto_regular', Arial, Sans-serif;
}

.tooltip-measure:before,
.tooltip-measure-static:before {
  border-top: 6px solid #2f476c;
}

.tooltip-measure-static:before {
  border-top-color: #2f476c;
}

 /* custom-tooltip-feature */
.tooltip-feature.tooltip-inner {
    background-color: rgba(51, 51, 51, 0.95);
    padding: 8px 8px 8px;
    color: #fff;
    font-family: "roboto_regular", Arial, Sans-serif;
    font-size: 12px;
    letter-spacing: 1;
}

.tooltip.right .tooltip-feature.tooltip-arrow {
    border-right-color: rgba(51, 51, 51, 0.95);
}

.tooltip.top .tooltip-feature.tooltip-arrow {
    border-top-color: rgba(51, 51, 51, 0.95);
}

.tooltip.left .tooltip-feature.tooltip-arrow {
    border-left-color: rgba(51, 51, 51, 0.95);
}

.tooltip-feature h5 {
    margin-bottom: 0;
}

.tooltip-feature.tooltip.in {
    opacity: 1;
}

/* Custom-tooltip-infopanel */
.mv-tooltip.tooltip-inner {
    background-color: #2f476c;
    padding: 8px 8px 8px;
    color: #fff;
    font-family: "roboto_regular", Arial, Sans-serif;
    font-size: 11px;
    letter-spacing: 1;
}

.tooltip.right .mv-tooltip.tooltip-arrow {
    border-right-color: #2f476c;
}

.tooltip.top .mv-tooltip.tooltip-arrow {
    border-top-color: #2f476c;
}

.tooltip.left .mv-tooltip.tooltip-arrow {
    border-left-color: #2f476c;
}

/*******************************
------------- SEARCH TOOLBAR
********************************/

/* Searchresult */

#searchresults{
	font-family:'roboto_regular',Arial, Sans-serif!important;
	color: #555!important;
}

ul#searchparameters{
	font-family: 'roboto_regular',Arial, Sans-serif;
}

/* Search toolbar */

li.geoportail.list-group-item.disabled{
	background-color:#2f476c;
	border-color:#2f476c;
	color: white!important;
	font-family: 'roboto_bold', Arial, Sans-serif!important;
}

li.elasticsearch.list-group-item.disabled{
	background-color:#2f476c!important;
	border-color:#2f476c;
	color: white!important;
	font-family: 'roboto_bold', Arial, Sans-serif!important;
}

#searchresults li a:hover{
	font-family:'roboto_bold', Arial, Sans-serif!important;
	color:#2f476c!important;
}

.popup-content .nav-tabs .active .glyphicon, .popup-content .nav-tabs .active .fa {
  color: #2f476c;
}

a:hover{
	color: #2f476c;
}

#searchtool .btn-default{
	color:#2f476c;
}

#parameterspanel .modal-header{
	color: #333;
	font-size: 13px;
	font-family: 'roboto_regular', Arial, Sans-serif!important;
}

/*******************************
------------- MAP OPTIONS
********************************/

/* Partager la carte*/
#sharepanel{
	font-family:'roboto_regular', Arial, Sans-serif;
}

a#permalinklink{
	font-family:'roboto_regular', Arial, Sans-serif;
}

.modal-content{
	font-family: 'roboto_regular', Arial, Sans-serif;
}

/*******************************
------------- HELP / DOCUMENTATION
********************************/

/* Help button */

button.btn.btn-default.navbar-btn.mv-navbar-btn{
	border-radius:50%;
	width:34px;
	height:34px;
	min-width:34px;
	border: 0px!important;
	font-family: 'roboto_black', Arial, Sans-serif;
	color:#2f476c;
	font-size: 15px;
}

button.btn.btn-default.navbar-btn.mv-navbar-btn:hover{
	background-color: rgba(255, 255, 255, 0.89);
}

button.btn.btn-default.navbar-btn.mv-navbar-btn:focus{
	background-color: rgba(255, 255, 255, 255);
}

/* Help panel */

#help .modal-content{
	font-family: 'roboto_regular', Arial, Sans-serif!important;
	height: 880px;
}

#help .nav-tabs{
	border-bottom: 2px solid #2f476c;
}

#help .nav-tabs>li>a{
	border-radius: 0px 0px 0 0px!important;
	color: #555;
}

#help .nav-tabs>li.active>a{
	background-color: #2f476c;
	border-color: #2f476c;
	color: white!important;
}

#help .nav-tabs>li>a:hover{
	border-color: #eee #eee #2f476c!important;
}

#help a:hover{
	color: #2f476c!important;
}

#help .modal-title{
    font-size: 25px;
    font-family: 'roboto_bold', Arial, Sans-serif;
    color: #2f476c;
}

#help .tab-pane h4{
	font-family: 'roboto_bold', Arial, Sans-serif;
    color: #2f476c;
    font-size: 22px;
    margin-top: 20px;
}

#help .tab-pane h5{
	font-family: 'roboto_bold', Arial, Sans-serif;
    color: #2f476c;
    font-size: 16px;
    margin-bottom: 2px;
}

#help .tab-pane h6{
	font-family: 'roboto_bold', Arial, Sans-serif;
    color: #2f476c;
    font-size: 14px;
    margin-bottom: 2px;
}

#help .tab-pane p{
    color: #555;
    font-size: 13px;
    text-align: justify;
}

#help .tab-pane .visuel_tx{
    color: #555;
    font-size: 13px;
}

#help .tab-pane .visuel{
    text-align: center;
}

/*******************************
-------------CSS Fiche info GML
********************************/
.gml-item-field-name {
	font-family: 'roboto_regular', Arial, Sans-serif;
}

.gml-item-field-value{
	font-family: 'roboto_regular', Arial, Sans-serif;
}

/*******************************
-------------LOADER INDICATOR
********************************/
.mv-layer-indicator .loader {
    border-top: 1.1em solid rgba(3, 46, 70, 0.2);
    border-right: 1.1em solid rgba(3, 46, 70, 0.2);
    border-bottom: 1.1em solid rgba(3, 46, 70, 0.2);
    border-left: 1.1em solid #2f476c;
}

.mv-iframe-indicator .loader {
    border-top: 1.1em solid rgba(3, 46, 70, 0.2);
    border-right: 1.1em solid rgba(3, 46, 70, 0.2);
    border-bottom: 1.1em solid rgba(3, 46, 70, 0.2);
    border-left: 1.1em solid #2f476c;
}

/*Mise en forme des MST*/
#rb-puces li {
	list-style: none;
	color: #555;
}
#rb-puces li:before{
	content:"· ";
	font-size:50px;
	vertical-align:middle;
	line-height:20px;
	color: #2f476c;
}
.rb-title-feature {
	color: #2f476c;
	font-family:"region_bold";
	font-size:25px;
	margin-bottom:3%;
	line-height:1;
}
.rb-subtitle-feature {
	color: #2f476c;
	font-family:"region_bold";
	font-size:18px;
	margin-top:2%;
	line-height:1;
}
.rb-text-feature{
	font-family:"Open Sans";
	color:#555;
	font-size:15px;
	margin-top:2%;
	margin-bottom:2%;
}
.rb-description-feature{
	font-family:"Open Sans";
	color:#555;
	font-size:13px;
	margin-top:2%;
	margin-bottom:2%;
}
.rb-but-list{
	margin-top:4%;
}
.rb-but-link, .rb-but-link:focus, .rb-but-link:hover{
	display:inline-block;
	padding:0.5em 1em;
	margin:0 0.3em 0.3em 0;
	border-radius:0.3em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'OpenSans-Bold',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	background-color:#2f476c;
	text-align:center;
	transition: all 0.2s;
}
.rb-but-link:hover{
	background-color:#4c74b5;
}

/* Search results */
#searchresults {
	font-family: "roboto_regular", Arial, Sans-serif;
	color: #555555; }
	#searchresults a.list-group-item.disabled {
	  font-family: "roboto_bold", Arial, Sans-serif; }
	#searchresults a:hover {
	  font-family: "roboto_bold", Arial, Sans-serif;
	  color: #2f476c; }

  .searchresults-title {
	background-color: #2f476c;
	border-color: #2f476c;
	color: white;
	font-family: "roboto_bold", Arial, Sans-serif; }

  .searchresults-title .close,
  .searchresults-title .close:hover,
  .searchresults-title .close:focus,
  .searchresults-title .close:active,
  .searchresults-title .close:visited {
	color: white; }
