/******************************************************************************
--------------------------- CSS KARTENN VN  -----------------
********************************************************************************/
@import url("../../_region/crbicon/crbicon.css");

@font-face {
  font-family: 'region_black';
  src: url("../../_region/font/RB/RegionBretagneNew-Black.ttf"); }

@font-face {
  font-family: 'region_bold';
  src: url("../../_region/font/RB/RegionBretagneNew-Bold.ttf"); }

@font-face {
  font-family: 'region_medium';
  src: url("../../_region/font/RB/RegionBretagneNew-Medium.ttf"); }

@font-face {
  font-family: 'region_regular';
  src: url("../../_region/font/RB/RegionBretagneNew-Regular.ttf"); }

/*Mise en forme des MST*/
#rb-puces li {
	list-style: none;
	color: #555;
}
#rb-puces li:before{
	content:"· ";
	font-size:50px;
	vertical-align:middle;
	line-height:20px;
}
.rb-title-feature {
	font-family:"region_bold";
	font-size:25px;
	margin-bottom:3%;
	line-height:1;
}
.rb-subtitle-feature {
	font-family:"region_bold";
	font-size:18px;
	margin-top:2%;
	line-height:1;
}
.rb-text-feature{
	font-family:"region_medium";
	color:#555;
	font-size:15px;
	margin-top:2%;
	margin-bottom:2%;
}
.rb-description-feature{
	font-family:"region_medium";
	color:#555;
	font-size:13px;
	margin-top:2%;
	margin-bottom:2%;
}
.rb-but-list{
	margin-top:4%;
}
.rb-but-link, .rb-but-link:focus, .rb-but-link:hover{
	display:inline-block;
	padding:0.5em 1em;
	margin:0 0.3em 0.3em 0;
	border-radius:0.3em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'region_bold',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.2s;
}
.rb-but-link:hover{
	background-color:#4c74b5;
}	
		